// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #0d5b78;
}

.total-votes {
  margin: 0;
  padding: 1rem;
  background: #fff;
  text-align: right;
  overflow: auto;
}

.vote-list {
  display: flex;
  flex: 1;
  align-items: flex-end;

  &__item {
    margin: 1rem 1rem 0;
    padding: 1rem;
    transition: height 0.4s;
    background: #c1c1c1;
    cursor: pointer;
  }
}

.vote-form {
  display: flex;

  &__input {
    flex: 1;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 0;
    outline: none;
    font-size: 1rem;
  }

  &__btn {
    display: block;
    padding: 0.5rem;
    border: 0;
    background: #ff9800;
    font-size: 1rem;
  }
}
